<div class="panel panel-space panel-default recordlist">
	<div class="panel-heading" style="color:#000;">
		<f:translate key="LLL:EXT:commerce/Resources/Private/Language/locallang_be.xml:product" /> (<span class="t3js-table-total-items"><f:count subject="{records}" /></span>)
	</div>

	<div class="table-fit">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th class="col-title"><f:translate key="LLL:EXT:commerce/Resources/Private/Language/locallang_db.xml:tx_commerce_categories.title" /></th>
					<th class="col-control"></th>
				</tr>
			</thead>

			<tbody>
				<f:for each="{records}" as="record" iteration="iterator">
					<f:render partial="Backend/ProductListRow" arguments="{record: record, parent: parent, iterator: iterator}"/>
				</f:for>

				<tr>
					<td colspan="3">
						<f:count subject="{records}" /> Records
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
